.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 100%;
  margin: 30px;

}

.githubimage {
  height: 15px;
  width: 15px;
  padding-top: 5px;
  padding-right: 5px;
}

.linkedinimage {
  height: 15px;
  width: 15px;
  padding-right: 5px;
}

.linktext {
  text-decoration: none;
  color: black;
  font-size: 10;
}

.footerText {
  color: #5e2cba;
}

.footerLogo {
  align-self: flex-end;
  margin-bottom: 5px;
}
