.dataBox {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px;
  margin-left: 60%;
  margin-right: 10%;
  height: 100px;
  align-items: center;
  overflow-wrap: break-word;
}

.maleData {
  margin: 5px;
}

.maleText {
  font-size: 12px;
}

.femaleData {
  margin: 10px;
}

.femaleText {
  font-size: 12px;
}

.map {
  /* margin-left: 20%; */
  position: relative;
}

#disclaimer {
  font-size: 7px;
  max-width: 50%;
  overflow-wrap: break-word;
  padding-bottom: 5%;
}

#disclaimerData {
  font-size: 12px;
  margin-left: 10px;
}
