.navbar-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  padding: 0px 128px 0px 128px;
  margin-bottom: 3.5%;
}

.navbar-links a {
  color: black;
  margin: 8px;
}

.navbar-links p {
  color: black;
  margin: 8px;
}

/* I'm looking for a selected tag inside of the navbar-links and that is why this trumps the navbar-links a style */
.navbar-links .selected,
.navbar-links a:hover {
  color: #5e2cba;
  text-decoration: underline #ffd35a 4px;
  text-underline-position: under;
}

.links-about {
  border-right: 2px solid black;
  padding-right: 16px;
}

.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  padding: 0px 128px 0px 128px;
  margin-bottom: 3.5%;
}

.navbar-user-links {
  display: flex;
  flex-direction: row;
}

.navbar-user-links a {
  color: black;
  margin: 8px;
}

.navbar-user-links p {
  color: black;
  margin: 8px;
}
.navbar-user-links .selected,
.navbar-user-links a:hover {
  color: #5e2cba;
  text-decoration: underline #ffd35a 4px;
  text-underline-position: under;
}

.links-user-about {
  border-right: 2px solid black;
  padding-right: 16px;
}
