.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 50px;
}
.article-card {
  overflow: hidden;
  border-radius: 8px;
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 5px grey;
}

.article-body {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.ToolsText {
  font-size: 12;
}

.articleHeader {
  margin-left: 20px;
}
