.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 33%;
}
.article-card {
  overflow: hidden;
  border-radius: 8px;
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 5px grey;
}

.article-body {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.ToolsText {
  font-size: 12;
}

.articleHeader {
  margin-left: 20px;
}

@media (min-width: 1100px) {
  .article-container {
    width: 1100px;
    margin: 0 auto;
  }
}
